[submodule "AndroidCommon"]
	path = AndroidCommon
	url = git@github.com:odt/AndroidCommon.git
	ignore = all
[submodule "InVehicleDevice"]
	path = InVehicleDevice
	url = git@github.com:odt/InVehicleDevice.git
	ignore = all
[submodule "InVehicleDeviceApiClient"]
	path = InVehicleDeviceApiClient
	url = git@github.com:odt/InVehicleDeviceApiClient.git
	ignore = all
