*-TEST.xml
*_GIT_IGNORE_*
.classpath
.odt/
.project
.settings/
.sonar/
AndroidManifest.xml.old
AndroidManifest.xml.release
DATA_Preferences
DATA_Tiles*
bin/
coverage.ec
coverage.em
coverage/
custom_rules.xml
findbugs.xml
findbugs_exclude.xml
gen/
lint-results.xml
local.properties
main/target/
obj/
open_jtalk
target/
temp/
test/target/
.idea/
*.iml
out/
*/gen-external-apklibs/
