/androidodtwebapi.jar
/bin
/gen
/tests/bin
/tests/gen
/tests/coverage
/tests/coverage.em
/tests/coverage.ec
/tests/emma
/tests/*-TEST.xml
AndroidManifest.xml.old
AndroidManifest.xml.release
.settings
release.keystore
local.properties
common_build.xml
findbugs.xml
findbugs_exclude.xml
