[submodule "InVehicleDeviceTestApiServer"]
	path = InVehicleDeviceTestApiServer
	url = git@github.com:odt/InVehicleDeviceTestApiServer.git
[submodule "OperatorWeb"]
	path = OperatorWeb
	url = git@github.com:odt/OperatorWeb.git
