# Gradle
/build/
/.gradle/

# Android Studio
/.idea/
/*.iml
/local.properties

# eclispe
/src/main/bin/
/src/main/gen/
/src/main/.settings/
/src/androidTest/bin/
/src/androidTest/gen/
/src/androidTest/.settings/
